@import "~bootstrap/scss/bootstrap";

* {
	cursor: pointer;
}

#root {
	display: flex;
	flex-flow: column;
	height: 100vh;
	overflow: hidden;
}

.carrotHR__table {
	flex: 1 1 auto;
	display: block;
	overflow: auto;
}

// $oddRow: transparentize($red, .7);
// .carrotHR__row--super-manager:nth-child(odd) {
// 	background-color: $oddRow !important;
//
// 	&:hover {
// 		background-color: darken($oddRow, 10%) !important;
// 	}
// }
//
// $evenRow : transparentize($red, .8);
// .carrotHR__row--super-manager:nth-child(even) {
// 	background-color: $evenRow !important;
//
// 	&:hover {
// 		background-color: darken($evenRow, 15%) !important;
// 	}
// }

// $oddRow: transparentize($teal, .7);
// .carrotHR__row--manager:nth-child(odd) {
// 	background-color: $oddRow !important;
//
// 	&:hover {
// 		background-color: darken($oddRow, 15%) !important;
// 	}
// }
//
// $evenRow : transparentize($teal, .8);
// .carrotHR__row--manager:nth-child(even) {
// 	background-color: $evenRow !important;
//
// 	&:hover {
// 		background-color: darken($evenRow, 15%) !important;
// 	}
// }

.carrotHR__input {
	width: 60px;
	height: 1.5em;
	padding: 0;
	border: 0;
	color: inherit;
	background: transparent;
	box-sizing: border-box;
}

.carrotHR__input:disabled {
	background: transparent;
}

.carrotHR__input--shift {
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
}

.carrotHR__input--employee {
	width: 100%;
	text-align: left;
	padding: 0;
}

.carrotHR__field--preference {
	background: transparentize($purple, .5);
	color: white !important;
}

.carrotHR__field--holiday {
	background: transparentize($yellow, .3);
	color: white !important;
}

.carrotHR__field--sunday {
	background: transparentize($info, .3);
	// border-top-color: $info !important;
	color: white !important;
}

*::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

*::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
