@import "_variables";

@import "~bootstrap/scss/bootstrap";

* {
	cursor: pointer;
}

#root {
	display: flex;
	flex-flow: column;
	height: 100vh;
	overflow: hidden;
}

.schedules {
	@at-root #{&}__table {
		flex: 1 1 auto;
		display: block;
		overflow: auto;
	}

	@at-root #{&}__signature {
		min-width: 12rem;
	}

	@at-root #{&}__input {
		width: 60px;
		height: 1.5em;
		padding: 0;
		border: 0;
		color: inherit;
		background: transparent;
		box-sizing: border-box;
		text-align: center;
		display: inline;
	}

}

*::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

*::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
