@import "_variables";

@import "~bootstrap/scss/bootstrap";


* {
	cursor: pointer;
}

#root {
	display: flex;
	flex-flow: column;
	height: 100vh;
	overflow: hidden;
}

.carrotHR__table {
	flex: 1 1 auto;
	display: block;
	overflow: auto;
}

.carrotHR__signature {
	min-width: 12rem;
}

.carrotHR__input {
	width: 60px;
	height: 1.5em;
	padding: 0;
	border: 0;
	color: inherit;
	background: transparent;
	box-sizing: border-box;
	text-align: center;
	display: inline;
}

.carrotHR__input:disabled {
	background: transparent;
}

.carrotHR__input--shift {
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
}

.carrotHR__field--preference {
	background: transparentize($purple, .5);
	color: white !important;
}

.carrotHR__field--holiday {
	background: transparentize($yellow, .3);
	color: white !important;
}

.carrotHR__field--free {
	background: transparentize($green, .3);
	color: white !important;
}

.carrotHR__field--sunday {
	background: transparentize($info, .3);
	color: white !important;
}

.carrotHR__field--danger {
	background: transparentize($yellow, .3);
	color: white !important;
}

.carrotHR__field--warning {
	background: transparentize($red, .3) !important;
	color: white !important;
}

.settings__input--crew {
	display: inline;
	width: 5rem;
	border: none;
	padding: 0 !important;
}

*::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

*::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
